[v-cloak] {
    display: none;
}

* {
    font-family: "Yu Gothic UI", "Meiryo UI", Meiryo, "MS Pgothic", Osaka, "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

html,
body,
#app {
    height: 100%;
}

.sidebar {
    position: fixed;
    width: 300px;
}

.page {
    padding-left: 300px;
    padding-bottom: 80px !important;
}

.chat-title {
    border: none;
    background: transparent;
    font-size: 20px;
    padding-left: 3px;
}

.message-content {
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.message-content p,
.message-content ol,
.message-content ul {
    margin-bottom: .5rem;
}

.message-content h1,
.message-content h2,
.message-content h3 {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.message-file {
    margin-left: 1rem;
    margin-bottom: .5rem;
}

img.icon-user {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

img.icon-file {
    height: 32px;
}

.file-name {
    position: relative;
    display: inline-block;
    padding: 3px;
    top: 1px;
}

.user-message {
    z-index: 100;
    position: fixed;
    bottom: 0px;
}

.user-message>.row {
    margin-right: 300px;
}